
@{
    ViewBag.Title = "AssaultReport";
}

<h2>Assault Report</h2>
<div>
    <iframe width="1200" height="800" src="https://app.powerbi.com/view?r=eyJrIjoiMTQ3MDgzOWEtNzkyYS00MjI5LTljNmUtZTYyZTRlZTg3OTQ1IiwidCI6IjA5Yjg2ZTQwLTk3ZGMtNGQ3ZS1iZjUzLTdhOWYxNjk1M2RmNCIsImMiOjh9" frameborder="0"></iframe>
</div>
