
@{
    ViewBag.Title = "BiReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Assault report</h2>
<DIV class="ms-rte-embedcode ms-rte-embedwp">
    <iframe width="1200" height="800" src="https://app.powerbi.com/view?r=eyJrIjoiZTRmZDBjMzAtYTc3Ny00NTZjLTliMWMtMjE2MjZlYWQyNGE1IiwidCI6IjA5Yjg2ZTQwLTk3ZGMtNGQ3ZS1iZjUzLTdhOWYxNjk1M2RmNCIsImMiOjh9" frameborder="0">

    </iframe>
</DIV>

