
@{
    ViewBag.Title = "BiReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Assault report</h2>
<iframe width="1200" height="800" src="https://app.powerbi.com/view?r=eyJrIjoiZDIwMDEyOTAtOTc3OS00M2UxLWE0MGEtNjlhOWIxY2M2NDljIiwidCI6IjA5Yjg2ZTQwLTk3ZGMtNGQ3ZS1iZjUzLTdhOWYxNjk1M2RmNCIsImMiOjh9" frameborder="0">

</iframe>

