@{
    ViewBag.Title = "Home Page";
}
<script type="text/javascript" src="~/Scripts/orderData.js"></script>
<div class="jumbotron">

</div>
<div data-ng-app="orderData">
    <div class="row" data-ng-controller="orderDataController">
                <div class="col-lg-3" data-ng-repeat="order in orders">
                    <div class="heroInfoContainer">
                        <label class="active" for="order-{{order.Heroes[0].Name}}">{{order.Heroes[0].Name}}</label><br />
                        <a href="#" id="submitBtn" for="order-{{order.Location}}">Click for location</a>
                        <p for="order-{{order.StartTime}}">{{order.StartTime | date:'yyyy-MM-dd'}}</p>
                        <p for="order-{{order.EndTime}}">{{order.EndTime | date:'yyyy-MM-dd'}}</p>
                        <p for="order-{{order.Description}}">{{order.Description}}</p>
                        <button class="glyphicon glyphicon-floppy-save" ng-click="pushNotice($index)"></button>
                    </div>
                </div>
            </div>
        </div>
