
@{
    ViewBag.Title = "Reporter";
}

<h2>Cost and Earnings</h2>

<div>
    <iframe width="1200" height="800" src="https://app.powerbi.com/view?r=eyJrIjoiMWJmY2YyMzUtN2NlOC00ZGIyLWJlZTAtZDM4NDY1NDdkZDNkIiwidCI6IjA5Yjg2ZTQwLTk3ZGMtNGQ3ZS1iZjUzLTdhOWYxNjk1M2RmNCIsImMiOjh9" frameborder="0"></iframe>
</div>