body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.formArea{
    padding-left: 50px;
}
body{
    background: url("Images/The_Marvel_Universe.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}
hr{
    display:none;
}
._logo{
    padding-top: 15px; 
}
.heroInfoContainer{
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 25px;
    padding: 15px;
    margin:10px;
    box-shadow: 5px 5px 5px 5px;
}
.row{
    max-height: 250px;
}
body {
    margin: 0;
    padding: 0;
}

.intro {
    padding-bottom:30px;
}

.spacer {
    padding:10px;
}
.heroInfoContainer label{
    font-size:14px;
    font-weight: bolder;
}
.heroInfoContainer p {
    font-size: 12px;
}
/* Office UI Fabric Overrides*/
.ms-bgColor-themeDarker,
.ms-bgColor-themeDarker--hover:hover {
  background-color: #004578 !important;
}

.ms-fontColor-white,
.ms-fontColor-white--hover:hover {
  color: #ffffff !important;
}

.ms-borderColor-white,
.ms-borderColor-white--hover:hover {
  border-color: #ffffff !important;
}

.is-selected{
    border-bottom: 2px solid white !important;
}

.ms-NavBar-chevronDown {
    color: white !important;
}

.ms-Icon--menu {
    color: white;
}

@media (max-width: 479px) {
    .ms-NavBar.is-open .ms-NavBar-items {
        background-color: #004578 !important;
    }

    .ms-NavBar-item:hover {
        background-color: #106ebe !important;
    }
}